#work-popup {
  padding: 3%;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

#closeddds {
  display: block;
  position: absolute;
  top: 3%;
  right: 7%;
  background-color: #c1c7d0;
  width: 20px;
  height: 20px;
  text-align: center;
}

#project1 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featured-image-container {
  width: 94%;
  height: 75%;
  background-repeat: no-repeat;
  background-size: 98% 99%;
  background-position: 50% 0;
}

#title1 {
  width: content;
  justify-content: flex-start;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#live {
  width: 62.7%;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

#live-demo,
#source {
  display: flex;
  flex-basis: content;
  line-height: 0;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.see-project,
.resume,
.sbtn {
  transition-property: box-shadow, background-color, border-radius, border;
  transition-duration: 3s, 3s, 3s, 3s;
}

.see-project,
.resume {
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border: solid #36b37f;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

#source,
img {
  flex-basis: content;
}

#technologypopUp {
  width: 93%;
}

.langues-use {
  display: flex;
  list-style: none;
  gap: 6px;
}

.language {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  text-align: left;
  background: #ebf0ee;
  border-radius: 4px;
  flex-basis: content;
  height: 30px;
  padding: 5px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#details {
  width: 93%;
  line-height: 22px;
  color: unset;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
}

@media screen and (max-width: 768) {
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
  }
}

#live-demo,
source {
  display: flex;
  flex-basis: content;
}
